<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
       <marquee behavior="scroll" direction="vertical" onmouseover="this.stop();" onmouseout="this.start();" >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores unde debitis rem facere minima similique officia cupiditate assumenda, voluptatibus doloribus blanditiis non, fuga optio iure sed reiciendis numquam inventore quia?
        Pariatur quod rem, eius voluptas cum voluptatem et nam quidem veniam maiores in enim blanditiis quibusdam deserunt sapiente odit praesentium dolore aut porro officia quasi. Nobis, accusamus. Natus, atque nobis.
        Ratione quos totam facilis ipsa quidem pariatur. Natus, harum ratione, culpa sapiente fuga facilis laborum quasi autem cumque sit hic ex minima reiciendis sequi cupiditate a aut doloribus quas expedita.
        Cupiditate architecto molestiae iste nihil unde vero qui voluptatum fuga incidunt molestias placeat vel, earum sint sunt. Iure corrupti pariatur fugit nesciunt, in quos omnis assumenda molestiae deleniti sequi distinctio.
        Ratione earum tempora laboriosam libero consequuntur suscipit obcaecati recusandae praesentium! Fugit voluptatibus maiores distinctio error fugiat veniam rerum esse quia qui laudantium, quibusdam nobis officia nisi cumque voluptas ipsa explicabo.
        Nemo, modi! Exercitationem corporis reiciendis aperiam magnam, ratione temporibus placeat saepe quis voluptas ipsam amet at ducimus beatae, officiis dolorum dolore error velit enim. Consequuntur ut quis nostrum nisi! Aperiam?
        Reiciendis odit aliquam cumque fuga iure quae odio, ipsum, inventore quisquam et nihil suscipit? Hic quasi ipsam ut similique delectus quis cum repellat et cumque. Amet praesentium ipsam labore eveniet?
        Voluptatum ea ducimus sapiente consectetur et, rerum ad fugiat ut incidunt aut labore debitis placeat! Laborum ad officiis corrupti, velit laudantium non. Numquam sequi, nesciunt dolorum voluptas exercitationem minus. Maiores!
        Quod autem laboriosam sapiente ut optio reprehenderit voluptate dolorum quis corporis exercitationem nesciunt culpa sequi omnis minima doloremque aperiam, praesentium distinctio aut at dolores sunt expedita. Harum quia laborum deleniti!
        Nulla ut, deserunt pariatur mollitia nobis delectus perferendis qui repellat inventore explicabo impedit optio obcaecati quidem enim, distinctio officiis officia. Repellat perferendis minima fugit beatae cupiditate, amet adipisci delectus tenetur!
        Minus quibusdam tenetur ab molestiae est corporis illum. Obcaecati odio natus, tenetur magnam esse iste harum in eaque doloribus ipsum vero facilis doloremque praesentium assumenda earum ipsa laborum tempora voluptas?
        Unde cum laboriosam amet officia atque eveniet eius ex harum consectetur maiores. Molestias pariatur labore voluptatibus quisquam enim aliquam dolorem commodi, facilis, iure sint ex similique officiis est quidem esse.
        Necessitatibus aliquid accusamus sequi cumque soluta, optio enim unde accusantium, quaerat ad consectetur error obcaecati! Tenetur porro ipsa facere quo totam vero tempora amet dolore officiis quaerat! Assumenda, ducimus at!
        Inventore asperiores sequi aliquam consectetur aperiam labore. Cupiditate nisi dolor earum! Consequuntur reiciendis magni porro alias, ex pariatur quia sint ratione veniam, eum minus quidem. Quis iure aperiam perferendis vitae!
        Accusantium nesciunt nobis, enim quisquam dolores eos necessitatibus quo doloremque, vero numquam consequatur autem eum tenetur incidunt deserunt ipsum molestias maxime praesentium consequuntur totam cupiditate quibusdam, debitis nisi reprehenderit. Veritatis.
        Mollitia magni praesentium deserunt suscipit asperiores placeat quasi. Illo nisi cupiditate fuga minus inventore officia adipisci excepturi delectus, voluptate omnis? Distinctio doloremque mollitia ipsa magni quas consequuntur vero vitae porro!
        Nisi deserunt laborum omnis minus reprehenderit nesciunt exercitationem impedit corrupti? Ut voluptate consequatur commodi laborum asperiores necessitatibus mollitia nobis aperiam aliquam similique. Facilis sequi reiciendis doloremque sed sit culpa maxime.
        Sed fuga vero dolorum ipsam a esse aut laborum ad quod cupiditate debitis fugiat dolor architecto, distinctio pariatur omnis velit perferendis sapiente praesentium voluptatem optio neque quaerat harum ab! Recusandae.
        Voluptatibus ipsum rerum porro dolorem eos et minima dicta perferendis tempora modi, vero fugiat quae. Tempora eius dolorum ipsa optio molestiae adipisci repellendus ut maiores rerum deserunt, magni distinctio est.
        Odio animi vel, modi nam, labore deleniti praesentium atque dolorum, enim minus quaerat accusantium ut adipisci blanditiis doloremque officiis quis ex? Necessitatibus fuga temporibus consequuntur facilis ducimus dolores rem magni!
        Totam consequuntur debitis impedit odio nihil vitae magnam veniam? Sint dolore totam animi quos pariatur repudiandae iure magni aperiam, distinctio alias. Architecto, aut sed obcaecati eveniet est vel voluptatem animi.
        Ab iusto dignissimos ratione ipsum asperiores tempore necessitatibus nesciunt, beatae dolores culpa a itaque modi earum unde consequatur molestias rem debitis facilis voluptatibus omnis, mollitia voluptate aspernatur vitae atque? Ipsum!
        Repudiandae ducimus repellendus dignissimos impedit esse, deleniti doloremque neque voluptatum voluptatibus vitae laboriosam quis id quidem assumenda, natus possimus facilis saepe! Aspernatur quod quaerat labore nemo explicabo, provident obcaecati eaque?
        Officiis dolore a unde recusandae suscipit ipsa deserunt sequi illum quo eum ad, repudiandae vero facere optio nihil. Maxime voluptatibus rem dolorem error quasi vel commodi ullam esse beatae qui.
        Tenetur iste impedit doloribus excepturi quaerat voluptatem quidem ipsam quia sint officia quasi laudantium, doloremque tempore eveniet harum dolorem eaque voluptas dignissimos explicabo expedita ipsa quod est. Nihil, possimus aut.
       </marquee>
    </p>
</body>
</html>